<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgoutside.modules.inclusive.mapper.InclusiveCorploanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dgoutside.modules.inclusive.entity.InclusiveCorploan">
        <id column="corpname" property="corpname" />
        <result column="marketcode" property="marketcode" />
        <result column="productname" property="productname" />
        <result column="loantype" property="loantype" />
        <result column="corploanbalance" property="corploanbalance" />
        <result column="loanstyle" property="loanstyle" />
        <result column="plandate" property="plandate" />
        <result column="corpmemo" property="corpmemo" />
        <result column="indate" property="indate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        marketcode, productname, corpname, loantype, corploanbalance, loanstyle, plandate, corpmemo, indate
    </sql>

</mapper>
